/* About Hero Section Styles */
.bg-about-main {
    background-image: url(../images/aboutbanner.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem auto;
}

.about-hero-content {
    color: var(--text-dark);
}

.about-hero-content h4 {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 600;
}

.about-hero-content h4 {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
}

.about-hero-content-text h2 {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.3;
}
.text-curve-img{
    width: 120px;
    top: 33px;
    left: 60%;
    transform: translateX(-50%);
}


